@import './Animations.css';

/* 
The code for the lines that separate tabs in the dropdown menu.
*/
.card::before, .last-card::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 0.25em;
}
  
.card::before {
    top: 0;
}

.last-card::after {
    bottom: -0.3em;
}

/* 
In I.E. 11 on large browsers, the skills section uses the Google Charts API. A pie chart is used 
for this, and when clicking on a slice that represents a skill, you will see text that describes
that particular slice pop up. This text box used to be white with black text, I changed the style a
little (dark gray with light brown text, and a little bit of a drop shadow).
*/
div.google-visualization-tooltip {
    background-color: #353535;
    color: #F1F0EA;
    max-width: 400px;
    box-shadow: 0px 4px 8px 0px rgba(53, 53, 53, 0.6);
}

/* 
The bottom border on the dropdown menu in the About, that shows when you open a dropdown tab (the
tan line that replaces the black line. 
*/
.border-bottom-on {
    border-bottom: 5px solid #dbd7d2;
}

/* 
Styling on the buttons for the dropdown tabs (the caret icons that rotate up or down when the tab
expands). There was default stylng on the buttons that didn't mix wiith the carets.
*/
.button, .button:active, .button:visited,
.btn, .btn:active, .btn:visited {
    font-size: 1.5em;
    line-height: 0.75;
    color: #353535;
    border-color: #f1f0ea;
    border-width: 0;
    text-decoration: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/* 
The class that is used to rotate the caret icon to be facing up (this class is applied when the
user clicks the button the tab and it opens)
*/
.rotate-up {
    transform: rotate(180deg)
}

/* 
The class that is used to rotate the caret icon to be facing down (this is used when the tab is
closed, which is by default).
*/
.rotate-down {
    transform: rotate(0deg);
}

/* 
This is used on the stars that show up. They are gray when not filled in, black when they are.
*/
.gray {
    color: #A9A9A9;
}

/* 
A star that is halfway filled in. This star will be half black half gray, halfway being from the
left to right direction like below (bad star, but that should clear it up)
    /|\
___/ | \___
\    |    /
 \   |   /
  |  |  |
  / / \ \
 //    \\
*/
.half-star {
    background: -moz-linear-gradient(right, #000 50%, #A9A9A9 50%);
    background: -webkit-gradient(linear, right top, left top, color-stop(50%,black), color-stop(50%,#A9A9A9));
    background: -webkit-linear-gradient(left, #000 50%, #A9A9A9 50%);
    background: -o-linear-gradient(left, #000 50%, #A9A9A9 50%);
    background: -ms-linear-gradient(left, #000 50%, #A9A9A9 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#A9A9A9',GradientType=1 );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#A9A9A9',GradientType=1 );
    background: linear-gradient(left, #000 50%, #A9A9A9 50%); 
    background: linear-gradient(to right, black 50%, #A9A9A9 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* 
The skill listed next to the stars
*/
.skill-heading {
    font-size: 4vw;
}

/* 
Sizing of the stars.
*/
.star {
    font-size: 5vw;
}

/* 
This is used for the timeline. There is a line that goes down the centre that text slides next to
as you scroll down. This is the styling for the dot that indicates a new text section sliding in.
*/
.right::before {
    content: '';
    position: absolute;
    left: -9px;
    top: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    background-color: #353535;
}

/* 
This is for the line that runs down the timeline that text slides into. This class is actually
applied to divs and that line is actually the border of many divs that have this kind of styling.
*/
.right {
    border-left: 4px solid #353535;
    padding-left: 20px;
}  

/* 
The text sections in the timeline are opaque, and then slide in and become visible. This class
keeps them opaque.
*/
.opaque {
    opacity: 0;
}

/* 
The classes that apply the animations to slide text in.
*/
.slide_left {
    animation: slide_left 0.5s ease-out both;
}

.slide_right {
    animation: slide_right 0.5s ease-out both;
}

/* 
Used on one of the span tags in the second page.
*/
.text-decoration-line-through {
    text-decoration: line-through;
}

/* 
Chart heading: this is for the 
*/
.chart-heading {
    font-size: 2.5vw;
    line-height: 1.3;
}

/* 
Resize the classes above to support different devices.
*/
@media (max-width: 576px) {
    .card-header {
        padding: 0.5rem 1rem;
    }

    .button, .button:active, .button:visited,
    .btn, .btn:active, .btn:visited {
        font-size: 6vw;
    }

    .border-bottom-on {
        border-bottom: 4px solid #dbd7d2;
    }

    .card::before, .last-card::after {
        height: 4px;
    }
}

@media (max-width: 475px) {
    .card::before, .last-card::after {
        height: 3px;
    }
}

@media (max-width: 420px) {
    .skill-heading {
        font-size: 4.5vw;
        padding: 3px 0px;
    }

    .star {
        font-size: 5.5vw;
    }

    .right {
        border-width: 3px;
        margin-left: 3%;
    }

    .right::before {
        width: 10px;
        height: 10px;
        left: -2.5%;
        top: -5px;
    }

    /* 
    On small devices, the line is to the left, and text slides in from the right. So there is some
    different padding.
    */
    #saga-container {
        padding-left: 0.8rem;
    }

    .card-header {
        padding: 0.5rem 0.5rem;
    }

    .button, .button:active, .button:visited,
    .btn, .btn:active, .btn:visited {
        font-size: 6.5vw;
    }

    /* 
    The caret icons become too big on small devices, so I use media queries to resize them.
    */
    svg.bi-caret-down-fill {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 320px) {
    .skill-heading {
        font-size: 5vw;
        padding: 2px 0px;
    }

    .star {
        font-size: 6vw;
    }

    .right {
        border-width: 3px;
    }

    .right::before {
        width: 10px;
        height: 10px;
        left: -3%;
        top: -5px;
    }

    .button, .button:active, .button:visited,
    .btn, .btn:active, .btn:visited {
        font-size: 5vw;
    }

    svg.bi-caret-down-fill {
        width: 16px;
        height: 16px;
    }
}
