/* 
This page is a set of "utility classes" that are used throughout the website, such as font, or a
header type that shows up throughout the website and has a similar styling. The classes are then
applied to that header, instead of styling the header with the same rules throughout the website.
*/

/* 
The h1 tags at the start of different sections of the website.
*/
.page-headers {
  font-size: 4.2vw;
  font-weight: bolder;
}

/* 
The font that various headings share throughout the website.
*/
.header-font {
  font-family: 'Lucida Console', monospace, Calibri, Arial, Verdana;
}

/* 
The color scheme is repeated throughout the site, and is reversed. So I put it here.
The same goes for the next couple of rules.
*/
.light, .light-after::after, .light-before::before {
  background-color: #F1F0EA;
  color: #353535;
}

.light:hover {
  color: #353535;
}

.dark, .dark-after::after, .dark-before::before {
  background-color: #353535;
  color: #F1F0EA;
}

.dark:hover {
  color: #F1F0EA;
}

.color-light {
  color: #F1F0EA;
}
/* 
These classes are used for span tags in the second and third pages.
*/
.link, .spaced-link {
  background-color: #dbd7d2;
  border-radius: 0.25em;
  padding: 2px 4px;
}

/* 
The headers for the projects in the third page.
*/
.project-headers {
  font-size: 3.4vw;
}

/* 
Size styling for the description text for each project in the projects section.
*/
.project-paragraph {
  font-size: 1.5vw;
}

/* 
The size styling for the text sections in the timeline. 
*/
.saga-paragraphs {
  font-size: 1.2em;
}

/* 
The headings on the dropdown tabs
*/
.card-headings {
  font-size: 2.2rem;
}

/* 
The text in each section for the dropdown tabs.
*/
.about-paragraph {
  font-size: 1.1rem;
}

/* 
The headings for each section of the text sections that slide in in the timeline.
*/
.saga-header{
  font-size: 1.5em;
}

/* 
Max width on images that are shown in the Projects section
*/
.mw-90 {
  max-width: 90%;
}

@media (max-width: 1300px) {
  .page-headers {
    font-size: 4.8vw;
  }
}

@media (max-width: 1200px) {
  .page-headers {
    font-size: 5.2vw;
  }

  .saga-header{
    font-size: 1.4em;
  }

  .project-paragraph, .saga-paragraphs {
    font-size: 1.15em;
  }

  .project-headers {
    font-size: 2.5em;
  }
}

@media (max-width: 992px) {
  .page-headers {
    font-size: 6.8vw;
  }

  #Tic-Tac-Toe-sm-header {
    font-size: 3em;
  }

  /* 
  This applies to I.E. 11 on an image that shows when the device has 768px <= width <= 992px
  */
  .mw-50 {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .page-headers {
    font-size: 7.5vw;
  }
}

@media (max-width: 650px) {
  #Tic-Tac-Toe-sm-header {
    font-size: 2.75em;
  }
}

@media (max-width: 630px) {
  .page-headers {
    font-size: 8.2vw;
  }
}

@media (max-width: 576px) {
  .page-headers {
    font-size: 8.9vw;
  }

  .link {
    padding: 0px 4px;
  }

  .project-headers, #Tic-Tac-Toe-sm-header {
    font-size: 8vw;
  }

  .card-headings {
    font-size: 6vw;
  }

  .saga-header{
    font-size: 4.5vw;
  }

  .project-paragraph, .about-paragraph, .saga-paragraphs {
    font-size: 3.8vw;
  }
}

@media (max-width: 475px) {
  .page-headers {
    font-size: 9.6vw;
  }
}

@media (max-width: 420px) {
  .page-headers {
    font-size: 10.3vw;
  }

  .project-headers, #Tic-Tac-Toe-sm-header {
    font-size: 9vw;
  }

  .card-headings {
    font-size: 6.5vw;
  }

  .saga-header{
    font-size: 5.2vw;
  }

  .project-paragraph, .about-paragraph, .saga-paragraphs {
    font-size: 4.5vw;
  }
}

@media (max-width: 320px) {
  .page-headers {
    font-size: 11.5vw;
  }

  .project-headers, #Tic-Tac-Toe-sm-header {
    font-size: 10vw;
  }

  .card-headings {
    font-size: 7vw;
  }

  .project-paragraph, .about-paragraph, .saga-paragraphs {
    font-size: 5.2vw;
  }
}