/* 
This is all Styling for the lines that separate projects in the third page. 
*/
.project::before, .last-project::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 0.25em;
}

.project::before {
    top: 0;
}
  
.last-project::after {
    bottom: -0.3em;
}

/* 
I.E. 11 styling due to a bug in I.E. 11 for the lines that separate individual side-projects (last line specifically),
found here: https://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
*/
@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, :root  .last-project::after {
        position: relative;
        bottom: -1em;
    }

    /* 
    In I.E. 11, the icons class doesn't apply on the linkedin icon that shows on mobile devices (width <= 576px)
    */
    *::-ms-backdrop, :root #mobile_linkedin {
        font-size: 20vw;
        color: #353535;
    }
}

/* 
Styling for the buttons in the project sections that say "Application" or "Code"
*/
.project-button {
    border-radius: 0.5em;
    transition: 0.35s linear;
    border: 2px solid #F1F0EA;
    background-color: #353535;
    color: #F1F0EA;
    font-size: 1.8vw;
}

.project-button:hover {
    background-color: #F1F0EA;
    color: #353535;
}

/* 
The linkedin and gmail icons on the contact section that shows up only on small devices. 
*/
.icons {
    font-size: 20vw;
    color: #353535;
}

/* 
The icons don't naturally align well, so some customization is needed.
*/
#mobile_gmail {
    color: #353535;
    font-size: 24vw;
    transform: translateY(-7%);
}

/* 
There are different images that are loaded, and they are shown on different devices. The class 
represents the image source, but with any periods and slashes replaced with an empty string at the
beginning, and a dash anywhere else.

Example:
'./New\ Dino\ Sprite.png' -> New-Dino-Sprite-png

This is the class for the image with source './New\ Dino\ Sprite.png'. This image is only supposed
to be shown on certain device widths, so the CSS rules and media queries are set accordingly.
*/
.New-Dino-Sprite-png, .Table-database-svg, .Database-Icon-png,
.New-Website-Dino-Sprite-Small-png {
    display: none;
}

.Table-database-svg {
    max-width: 90%;
}

/* 
The different image tags with different image sources should be shown on different device widths.
The media queries encompass this, and also changing the size of the text and padding of the buttons
in the projects section. So I will refrain too many more comments on the media queries.
*/
@media only all and (max-width: 1100px) {
    /* 
    This only works on Edge and Chrome, but not on Firefox or I.E. 11. But that's okay. It doesn't
    look too bad.
    */
    #NBA-Records-Database {
        content: url('./Database\ Icon.png');
    }
    
    .project-button {
        font-size: 1.25em;
    }
}

@media only all and (max-width: 992px) {
    .Table-database-svg, .New-Dino-Sprite-png {
        display: block;
    }

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 55%;
    }
}

@media only all and (max-width: 767px) {
    .Table-database-svg {
        display: none;
    }

    .Database-Icon-png {
        display: block;
        max-width: 50%;
    }

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 65%;
    }
}

@media only all and (max-width: 650px) {
    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 70%;
    }

    .New-Dino-Sprite-png {
        display: none;
    }

    .New-Website-Dino-Sprite-Small-png {
        display: block;
    }

    .Database-Icon-png {
        max-width: 60%;
    }
}

@media only all and (max-width: 576px) {
    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 75%;
    }

    .project-button {
        font-size: 4vw;
        padding: 3px 6px;
    }

    .Database-Icon-png {
        max-width: 70%;
    }
}

@media only all and (max-width: 500px) {
    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 80%;
    }

    .Database-Icon-png {
        max-width: 75%;
    }
}

@media only all and (max-width: 420px) {
    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 85%;
    }

    .project-button {
        font-size: 4.5vw;
        padding: 3px 6px;
    }

    .Database-Icon-png {
        max-width: 95%;
    }
}

@media only all and (max-width: 320px) {
    .project-button {
        font-size: 5vw;
        padding: 3px 6px;
    }
}
