.project::before, .last-project::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 0.25em;
}

.project::before {
    top: 0;
}
  
.last-project::after {
    bottom: -0.3em;
}

@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, :root  .last-project::after {
        position: relative;
        bottom: -1em;
    } /* IE11 */
}

.project-button {
    border-radius: 0.5em;
    transition: 0.35s linear;
    border: 2px solid #F1F0EA;
    background-color: #353535;
    color: #F1F0EA;
    font-size: 1.8vw;
}

.project-button:hover {
    background-color: #F1F0EA;
    color: #353535;
}

.mw-70 {
    max-width: 90%;
}

.icons {
    font-size: 20vw;
    color: #353535;
}

#mobile_linkedin {
    font-size: 20vw;
}

#mobile_gmail {
    color: #353535;
    font-size: 22vw;
}

.New-Dino-Sprite-png, .Table-database-svg, .Database-Icon-png,
.New-Website-Dino-Sprite-Small-png {
    display: none;
}

.Table-database-svg {
    max-width: 90%;
    /* display: none; */
}

@media only all and (max-width: 1100px) {
    /* #Chrome-Dino-Run {
        content: url('New Website Dino Sprite Small.png')
    } */
    #NBA-Records-Database {
        content: url('./Database\ Icon.png');
    }

    /* .Database-Icon-png {
        display: block;
    } */
    
    .project-button {
        font-size: 1.25em;
    }
}

@media only all and (max-width: 992px) {
    /* #NBA-Records-Database-sm {
        content: url('./Table database.svg');
    } */

    /* .Database-Icon-png {
        display: none;
    } */

    .Table-database-svg, .New-Dino-Sprite-png {
        display: block;
    }

    /* #Chrome-Dino-Run-sm {
        content: url('./New\ Dino\ Sprite.png');
    } */

    .mw-60 {
        max-width: 50%;
    }

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 55%;
    }
}

@media only all and (max-width: 767px) {
    /* #NBA-Records-Database-sm {
        content: url('./Database\ Icon.png');
    } */

    .Table-database-svg {
        display: none;
    }

    .Database-Icon-png {
        display: block;
        max-width: 50%;
    }

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 65%;
    }
}

@media only all and (max-width: 650px) {
    /* the database icon image needs more custom styling because of its size */
    /* #NBA-Records-Database-sm {
        max-width: 60%;
    } */

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 70%;
    }

    .New-Dino-Sprite-png {
        display: none;
    }

    /* #Chrome-Dino-Run-sm {
        content: url('./New\ Website\ Dino\ Sprite\ Small.png');
    } */

    .New-Website-Dino-Sprite-Small-png {
        display: block;
    }

    .Database-Icon-png {
        max-width: 60%;
    }
}

@media only all and (max-width: 576px) {
    /* #NBA-Records-Database-sm {
        max-width: 70%;
    } */

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 75%;
    }

    .project-button {
        font-size: 4vw;
        padding: 3px 6px;
    }

    .Database-Icon-png {
        max-width: 70%;
    }
}

@media only all and (max-width: 500px) {
    /* #NBA-Records-Database-sm {
        max-width: 75%;
    } */

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 80%;
    }

    .Database-Icon-png {
        max-width: 75%;
    }
}

@media only all and (max-width: 420px) {
    /* #NBA-Records-Database-sm {
        max-width: 95%;
    } */

    #Tic-Tac-Toe-sm, .Tic-Tac-Toe-png {
        max-width: 85%;
    }

    .project-button {
        font-size: 4.5vw;
        padding: 3px 6px;
    }

    .Database-Icon-png {
        max-width: 95%;
    }
}

@media only all and (max-width: 320px) {
    .project-button {
        font-size: 5vw;
        padding: 3px 6px;
    }
}
